examples/jack-bridge.json
[{"id":"aa8893189402f6dd","type":"debug","z":"41722688f844f9e1","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":80,"wires":[]},{"id":"2565708e4ab7ff43","type":"mqtt in","z":"41722688f844f9e1","name":"Jack Connect","topic":"","qos":"2","datatype":"auto-detect","broker":"","nl":false,"rap":true,"rh":0,"inputs":1,"x":310,"y":160,"wires":[["0db552cfacc0235f","1280c2588d9e122c"]]},{"id":"b844df48f0e7b770","type":"debug","z":"41722688f844f9e1","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":160,"wires":[]},{"id":"54c1f5b82e3765fc","type":"inject","z":"41722688f844f9e1","name":"subscribe","props":[{"p":"action","v":"subscribe","vt":"str"},{"p":"topic","v":"[\"#\"]","vt":"json"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":225,"y":100,"wires":[["1280c2588d9e122c"]],"icon":"font-awesome/fa-play-circle","l":false},{"id":"e930af1e8f308b75","type":"inject","z":"41722688f844f9e1","name":"unsubscribe","props":[{"p":"action","v":"unsubscribe","vt":"str"},{"p":"topic","v":"[\"#\"]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":295,"y":100,"wires":[["1280c2588d9e122c"]],"icon":"font-awesome/fa-stop-circle","l":false},{"id":"ab00bc0843e0e5f7","type":"inject","z":"41722688f844f9e1","name":"getSubscriptions","props":[{"p":"action","v":"getSubscriptions","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":365,"y":100,"wires":[["1280c2588d9e122c"]],"icon":"font-awesome/fa-question-circle","l":false},{"id":"0db552cfacc0235f","type":"switch","z":"41722688f844f9e1","name":"","property":"action","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":160,"wires":[["b844df48f0e7b770"]]},{"id":"0c438a17c6e0d543","type":"link out","z":"41722688f844f9e1","name":"link out 1","mode":"link","links":["f9b1aa5d7b489c09"],"x":655,"y":120,"wires":[]},{"id":"f9b1aa5d7b489c09","type":"link in","z":"41722688f844f9e1","name":"link in 1","links":["0c438a17c6e0d543"],"x":185,"y":160,"wires":[["2565708e4ab7ff43"]]},{"id":"1280c2588d9e122c","type":"jack-bridge","z":"41722688f844f9e1","name":"","jack":"","x":510,"y":100,"wires":[["aa8893189402f6dd"],["0c438a17c6e0d543"]]}]